<a class="card" href="{{ path('product_show', {id: product.id}) }}">
    <img src="{{ asset(product.cover) }}" alt="{{ product.name }}" />
    <div class="flex flex-column">
        <h4>{{ product.name }}</h4>
        <h4>{{ product.priceTTC|format_currency('EUR') }}</h4>
    </div>
    <div class="tag">
        <p class="p-min">{{ product.category.name }}</p>
    </div>
</a>