{% extends 'base.html.twig' %}

{% block main %}
<section class="section-login flex flex-column items-center justify-center">
    <div class="flex flex-column items-center">
        <h1 class="text-center">Connexion</h1>
        <p>Nouveau ici ? <a class="link" href="{{ path('app_register') }}">Créez votre compte</a> !</p>
    </div>

    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            Bonjour, {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
        {% endif %}

        <div class="flex flex-column">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                autocomplete="email" required autofocus>
        </div>

        <div class="flex flex-column">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                value="{{ csrf_token('authenticate') }}">
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> souviens-toi de moi
            </label>
        </div>


        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>
</section>
{% endblock %}