{% extends 'base.html.twig' %}

{% block main %}
<section class="section-login flex flex-column items-center justify-center">
    <div class="flex flex-column items-center">
        <h1 class="text-center">Inscription</h1>
        <p>Déjà un compte ? <a class="link" href="{{ path('app_login') }}">Connectez-vous</a> !</p>
    </div>

    {{ form_start(registrationForm) }}

    {{ form_errors(registrationForm) }}



    {{ form_row(registrationForm.email) }}


    {{ form_row(registrationForm.plainPassword, {
    label: 'Password' }) }}

    <div id="agree-terms">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn btn-primary">S'inscrire</button>

    {{ form_end(registrationForm) }}

</section>
{% endblock %}