{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}


{% block main %}

<section class="flex flex-column items-center pt-50 pb-50 gap-50">

  <div class="devis-info flex flex-column items-center gap-15">

    <h1>Devis Planche</h1>
    <p class="text-center">
      Bonjour {{ app.user.firstname }} {{ app.user.lastname }}, veuillez remplir ce formulaire pour recevoir
      un devis personnalisé pour vos planches sur mesure.
    </p>

  </div>

  {{ form_start(form) }}


  {{ form_widget(form) }}

  <button class="btn btn-primary" type="submit">Demander mon devis</button>


  {{ form_end(form) }}
</section>

<section class="flex flex-column items-center pt-100 pb-100 gap-50">

  <div class="flex items-center gap-50">
    <img src="{{ asset('img/image-planche.jpg') }}" alt="Image Ecologique">

    <h2>Engagés contre l’écologie depuis 1945, nous nous efforçons d’exterminer toute trace d’arbre sur notre planète…
      pour en faire de magnifiques chaises.</h2>
  </div>

  <div class="products-section flex flex-column gap-25">
    <h3>Nos produits</h3>

    <div class="min-products-grid">

      {% for product in latestProducts %}
      {% include "_partials/card.twig" %}
      {% endfor %}

      <a class="product-link" href="{{ path('product_index') }}">
        <div>
          <h4>Voir Plus</h4>
        </div>
      </a>

    </div>
  </div>
</section>

{% endblock %}

{% endblock %}